POSTGRES_DB=autoservice
POSTGRES_URL=jdbc:postgresql://postgres:5432/autoservice
POSTGRES_USER=postgres
POSTGRES_PASSWORD=*****

ADMIN_PASSWORD=*****
READONLY_PASSWORD=*****
APP_PASSWORD=*****

DATA_SOURCE_NAME=postgresql://postgres:*****@postgres:5432/autoservice?sslmode=disable